*~
*.swp
*.o
*.d
*.cmd
*.xml
*.aux
*.bbl
*.blg
*.log
*.pyc
*.a
build/
.DS_Store
osdi.pdf
nsdi.pdf
jrc.pdf
paper.pdf
latex-all.tex
*-eps-converted-to.pdf
linux_client
linux_server
r2p2-router
r2p2-echo
r2p2-echo-fdir
synthetic-time
synthetic-size
synthetic-time-fdir
udp-echo
udp-synthetic
stss
